<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="./Dwv.css">
</header>
<body>
<div id="info">
    <div id="pinfo">
        <ul>
            <li>就诊人姓名：张三</li>
            <li>性别：男</li>
            <li>年龄：58</li>
            <li>电话：15785487531</li>
        </ul>

    </div>
    <div id="patient">
        <form action="" method="POST" id="diagnoseResult">
            <div id="diagnose">
            <p class="title">诊断结果：</p> 
            <input name="diagnose" type="radio" value="normal" id="normal"><label for="normal">正常</label>
            <br>
            <input name="diagnose" type="radio" value="pneumonia" id="pneumonia"><label for="pneumonia">普通肺炎</label>
            <br>
            <input name="diagnose" type="radio" value="covid" id="covid"><label for="covid">新型冠状病毒性肺炎</label>
            <div id="aiDetect">智能检测结果： <span style="font-weight: bold;"> 正常 </span></div>
            <input type="submit" name="submitdiagnose" id="submitDiagnose">
            </div>
        </form>
        <form action="" method="POST" id="adviseResult">  
            <div id="advise">
            <p class="title">诊断建议：</p> 
            <textarea rows="6" cols="75"></textarea>
            <div id="submitBlock"><span id="doctor">医生姓名：李四 </span><input type="submit" name="submitAdvice" id="submitAdvice"></div> 
            </div>
        </form>
    </div>
</div>

<div id="view">
    <div id="Buttonarray">
        <button id="angle">测量角度</button>
        <button id="length">测量长度</button>
        <button id="wwwc">调整明暗</button>
        <button id="stackScrollMouseWheel">滚动查看</button>
        <button id="zoomMouseWheel">放大器</button>
        <button id="eraser">橡皮擦</button>
        <button id="probe">定点探测</button>
        <button id="dragProbe">拖拽探测</button>
        <button id="pan">平移图像</button>
        <button id="magnify">局部放大</button>
        <button id="rotate">旋转工具</button>
        <button id="bidirectional">双向工具</button>
        <button id="cobbangle">柯布角测量</button>
        <button id="freehanroi">绘制ROI</button>
        <button id="rectangleRoi">矩形ROI</button>  
        <button id="textMarker">文本标记</button>
        <button id="brush">红点标记</button>
        <button id="arrow">箭头标识</button>
        <button id="putPcture" style="color:white;font-weight: bolder;">导入图像</button>
        <button id="detect" style="color:white;font-weight: bolder;">智能检测</button>
    </div>
    <div id="dicomImage"></div>
</div>
</body>
<script src="https://unpkg.com/hammerjs@2.0.8/hammer.js"></script>
<script src="https://unpkg.com/cornerstone-core@2.3.0/dist/cornerstone.js"></script>
<script src="https://unpkg.com/cornerstone-math@0.1.8/dist/cornerstoneMath.min.js"></script>
<script src="https://unpkg.com/cornerstone-wado-image-loader@3.1.2/dist/cornerstoneWADOImageLoader.min.js"></script>
<script src="https://unpkg.com/cornerstone-web-image-loader@2.1.1/dist/cornerstoneWebImageLoader.min.js"></script>
<script src="https://unpkg.com/cornerstone-tools@4.20.1/dist/cornerstoneTools.js"></script>
<script src="https://unpkg.com/dicom-parser@1.8.5/dist/dicomParser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"></script>
<script type="text/JavaScript" src="./buttonFunc.js"></script>
<script type="text/JavaScript" src="./modelPred.js"></script>
</html>
